body{
    font: 20px Arial, sans-serif;
}
.footer{
    background-color: black;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar {
    background-color: #33E2FF;
}
.quem-somos {
    background-color: blue;
    color: white;
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #608EDA ;
}